@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body {
    font-family: sans-serif;
}
html {
    scroll-behavior:smooth;
}
#land {
    position: relative;
    top: 100px;
    width: 100%;
    height: 100vh;
    background-image: url("https://wallpapercave.com/wp/wp7524684.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#land .h1-1 {
    font-family: "Berkshire Swash", serif;
    position: absolute;
    top: 25%;
    right: 20%;
    font-size: 60px;
    line-height: 100px;
    animation: big 3s linear 1;
}
@keyframes big {
   from {
    transform: translateX(150px);
    opacity: 0;
   }
   to {
    transform:translate3d(-150px);
    opacity: 1;
   }
}

.collapse ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #fac031;
    display: block;
    transition: 0.2s linear;
}
.collapse ul li a:hover::after {
    width: 100%;
}
.collapse ul li a:hover {
     color:#fac031;
}
#sec1 {
    position: relative;
    left: 5%;
    top: 130px;
    width: 90%;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 20px;
}
#sec1 .img-2 {
    left: 22%;
}
#sec1 .img-1 {
    z-index: 2;
    left: -18%;
    border-radius: 30%;
    animation: otate 20s linear infinite;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
#sec1 .img-1:hover {
    animation-play-state: paused;
}
#sec1 .text-1 {
   padding: 5% 5% 3% 5%;
}
#sec1 p {
    text-indent: 20%;
    line-height: 30px;
    font-size: 20px;
    text-align: justify;
    background-color: #fac031;
    padding: 2%;
    border-radius: 5px;
}
#sec1 .h1-2 {
    padding-top: 2%;
    font-size: 30px;
    font-style: italic;
    font-family: "Berkshire Swash", serif;
    letter-spacing: 5px;
}
/* @media screen and (max-width:340px){
    #land {
        top: 100px;
        width: 100%;
        height: 60vh;
        background-image: url("https://cdn.wallpapersafari.com/70/33/exuXCo.jpg");
        background-repeat: no-repeat;
        background-size: contain;
    }
    #land .h1-1 {
        top: 15%;
        left: 2%;
        font-size: 30px;
        line-height: 40px;
    }
    #sec1 {
        top: 10px;
    }
    #sec1 .h1-2 {
        padding-top: 2%;
        font-size: 18px;
        padding-bottom: 5%;
    }
    #sec1 p {
        line-height: 25px;
        font-size: 15px;
    }
    #sec1 .h1-3 {
        font-size: 16px;
    }
    #About {
        top: 10px;
        left: 5%;
       line-height: 25px;
    }
    #About .h1-3 {
        font-size: 16px;
    }
    #About p {
        font-size: 15px;
        text-indent: 3%;
    }
} */
@media screen and (max-width:576px){
    #sec1 .h1-2 {
        font-size: 20px;
    }
    #sec1 p {
        line-height: 30px;
        font-size: 15px;
    }
    #land {
        top: 100px;
        width: 100%;
        height: 40vh;
        background-image: url("https://cdn.wallpapersafari.com/70/33/exuXCo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #land .h1-1 {
        top: 20%;
        left: 2%;
        font-size: 30px;
        line-height: 40px;
    }
    #sec1 .h1-3 {
        font-size: 20px;
    }
    #About .h1-3 {
        font-size: 10px;
    }
    #About h3 {
        font-size: 20px;
        font-weight: bold;
    }
    #About p {
        line-height: 30px;
        font-size: 15px;
        text-indent: 3%;
    }
}
@media screen and (min-width:577px) and (max-width:768px){
    #land {
        top: 100px;
        width: 100%;
        height: 70vh;
        background-image: url("https://cdn.wallpapersafari.com/70/33/exuXCo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #land .h1-1 {
        font-family: "Berkshire Swash", serif;
        position: absolute;
        top: 30%;
       left: 2%;
        font-size: 40px;
        line-height: 60px;
        animation: big 3s linear 1;
    }
    #sec1 .h1-3 {
        font-size: 20px;
    }
    #sec1 p {
        line-height: 30px;
        font-size: 16px;
    }
    #About .h1-3 {
        font-size: 20px;
        font-weight: bold;
    }
}
@media screen and (min-width:769px) and (max-width:992px){
    #land {
        position: relative;
        top: 100px;
        width: 100%;
        height: 90vh;
        background-image: url("https://cdn.wallpapersafari.com/70/33/exuXCo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #land .h1-1 {
        font-family: "Berkshire Swash", serif;
        position: absolute;
        top: 30%;
       left: 2%;
        font-size: 45px;
        line-height: 60px;
        animation: big 3s linear 1;
    }
    #sec1 .h1-3 {
        font-size: 27px;
    }
    #About .h1-3 {
        font-size: 25px;
    }
}
@media screen and (min-width:993px) and (max-width:1200px){
    #sec1 .h1-3 {
        font-size: 27px;
    }
    #About .h1-3 {
        font-size: 25px;
    }
}
#About {
    width: 90%;
    height: fit-content;
    background-image: url('https://tse4.mm.bing.net/th?id=OIP.F7o5uq_ijMarW2OGDKgvcgHaEK&pid=Api&P=0&h=180');
    color: white;
    background-size: cover;
    position: relative;
    top: 170px;
    left: 5%;
   border-radius: 20px;
   line-height: 25px;
   padding-left: 5%;
   padding-right: 2%;
   text-align: justify;
   padding-bottom: 3%;
}
#About p {
    font-size: 18px;
    text-indent: 3%;
}
#About .h1-3 {
    font-size: 25px;
    font-weight: 600;
}
#About h3 {
    font-size: 20px;
    font-weight: bold;
}
#Menu {
    width: 90%;
    height: fit-content;
    position: relative;
    top: 200px;
    left: 5%;
    border-radius: 20px;
    background-color: #ffffff;
}
#Menu .container {
       display: flex;
       justify-content: space-evenly;
       flex-wrap: wrap;
       column-gap: 5%;
       row-gap: 50px;
      padding: 5%;
      
}
#Menu .container div i {
    color: #fac031;
    padding-top: 3%;
}
#Menu .container div h2 {
    padding-top: 5%;
    font-size: 25px;
}
#Menu .container .div-1 {
    transition: 0.1s linear;
}

#Menu .container .div-1:hover {
    transform:scale(0.9);
    transition: 0.1s linear;
}
#Review {
    width: 100%;
    height: fit-content;
    position: relative;
    top: 250px;
   background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190619/ourmid/pngtree-simple-style-western-restaurant-menu-poster-background-image_136952.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}
#Review .container {
    backdrop-filter: blur(5px);
}
#Review .card {
    background-color: #000000;
    color: #ffffff;
    height: fit-content;
}
#Review .card:hover {
    transform: scale(0.9);
}
#Review i {
    padding-top: 5%;
    padding-left: 2%;
    color: #fac031;
}
#Review .card-img-top {
    padding: 5%;
    border-radius: 30px;
}
#Chefs {
    width: 100%;
    height: fit-content;
    position: relative;
    top: 350px;
    /* background-color: goldenrod; */
    background-image: url('https://t3.ftcdn.net/jpg/02/44/98/50/360_F_244985001_JkE2leAeXd0h91yOOXrq2Gfl7OKOg0qp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#Chefs .card {
    margin-bottom: 3%;
    box-shadow: 5px 3px 5px;
    background-color:#ffffff68;
    backdrop-filter: blur(0px);
}
#Chefs .list-group-item {
    background-color: #ffffff68;
}
#Chefs .card img {
    transition: 0.5s linear;
    padding: 5%;
}
#Chefs .card img:hover {
    transform: scale(0.7);
    transition: 0.5s linear;
}
#Booking {
    width: 100%;
    height: 120vh;
    position: relative;
    top: 450px;

    background-image: url('images/table.booking.jpg');
    background-size: cover;
}
#Booking .container {
    height: fit-content;
    padding-bottom: 2%;
    border-radius: 20px;
    position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
    backdrop-filter: blur(5px);
    background: #0000002f;
}
#contact {
     width: 100%;
     height: fit-content;
     position: relative;
     top: 500px;
     background: #000000c9;
     padding-bottom: 3%;
}
#contact a {
    text-decoration: none;
    color: #ffffff;
}
#contact .fa-square-instagram {
    color: #8a0020;
    transition: 0.5s linear;
 }
#contact .fa-square-instagram:hover {
   color: #e82747;
   transform: scale(1.3);
}
#contact .fa-square-facebook {
    color: #00007b;
    transition: 0.5s linear;
}
#contact .fa-square-facebook:hover {
    color: #0000ff;
    transform: scale(1.3);
}
#contact .fa-youtube {
    color: #920a0a;
    transition: 0.5s linear;
}
#contact .fa-youtube:hover {
    color: #ff0000;
    transform: scale(1.3);
}
#contact .fa-square-x-twitter {
    transition: 0.5s linear;
}
#contact .fa-square-x-twitter:hover {
    color: #000000;
    transform: scale(1.3);
}
#contact .fs-5 {
    color: #ffffff;
}
#contact p:hover {
     color: #0000ff;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #b95306;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(#ff0000,#0000ff,#08fd08);
}
/* .reveal {
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal .active {
    transform: translateY(0px);
    opacity: 1;
} */